@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

input {
  color: #f1f5f9;
  border-bottom: 2px solid #e0f2fe;
  background: none;
  padding: 10px 100px 10px 10px;
}

input:focus {
  outline: none;
}